<div class="div1">
  <div class="div2">
    <app-menu></app-menu>

    <h2>Carreras</h2>

  <div class="carga_datos">
    <table class="carreras">
      <tr>
        <td>
          <label>Temporada: </label>
        </td>
        <td>
          <input id="temporada" type="string" [(ngModel)]="carr.temporadaCarrera">
        </td>
        <td>
          <label>Cantidad de Autos: </label>
        </td>
        <td>
          <input id="cantPilotos" type="string" [(ngModel)]="carr.cantPilCarrera" class="nombreCateg">
        </td>
        <td>
          <label>Multiplicador: </label>
        </td>
        <td>
          <input id="mu" type ="float" [(ngModel)]="carr.multiplCarrera">
        </td>
      </tr>
      <tr>
        <td>
          <label>Fecha: </label>
        </td>
        <td>
          <input id="fe" type ="date" [(ngModel)]="carr.fechaCarrera">
        </td>
        <td>
          <label>Categoria: </label>
        </td>
        <td>
          <select name="miselect" [(ngModel)]="seleccionado">
            <option [ngValue]="categ" *ngFor="let categ of cate">{{categ.idCategoria}}</option>
          </select>
        </td>
        <td>
          <label>Autódromos: </label>
        </td>
        <td>
          <select name="miselect" [(ngModel)]="selecAut">
            <option [ngValue]="autod" *ngFor="let autod of aut">{{autod.nombreAutodromo}}</option>
          </select>
        </td>
      </tr>
    </table>
  </div>

    <!--  <p>Seleccionado: {{seleccionado.nombreCategoria}} id:{{seleccionado.ponderadorCategoria}}</p>  -->

    <div class="div3">
      <button (click)="altaCarreras(carr)" class="alta">
        Confirmar alta
      </button>
    </div>

  <div class="listado">
    <table class="categorias1">
      <tr>
        <th class="tempo">Temporada</th>
      <th class="fecha">Fecha</th>
      <th class="cantidad">Cantidad de Autos</th>
      <th class="categ">Categoria</th>
      <th class="multi">Multiplicador</th>
      <th class="auto">Autódromo</th>
      </tr>
      <tr *ngFor="let car of carre  | paginate: { itemsPerPage: 6, currentPage: pages }">
        <td class="tempo">{{car.temporadaCarrera}}</td>
        <td class="fecha">{{car.fechaCarrera}}</td>
        <td class="cantidad">{{car.cantPilCarrera}}</td>
        <td class="categ">{{car.categorias.idCategoria}}</td>
        <td class="multi">{{car.multiplCarrera}}</td>
        <td class="auto">{{car.autodromo.nombreAutodromo}}</td>
        <td>
          <button (click)="modifCarreras(car)" class="modif">
            Modificar
          </button>
        </td>
        <td>
          <button (click)="delCarreras(car)" class="delete">
            Borrar
          </button>
        </td>
      </tr>
    </table>
  </div>


    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
</div>

