body{
  background-color: black;
}

div{
  text-align: center;
  padding: 10px;
  color: white;
}

.div2 {
  color: white;
  text-align: center;
}

.div1 {
  overflow: hidden;
  height: 98vh;
  width: 95vw;
  margin: 1vh 2.5vw;
  border: 2px solid #e87867;
  border-radius: 10px;
  background-color: #3e3d3d;
  position: relative;
  background-image: url("/assets/imagenes/Pilotos_Carreras.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:inherit;
  z-index: 0;
}

h2{
padding: 10px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: red;
  color: white;
}

.noticias {
  margin-left: 20vw;
  margin-top: 2vw;
  font-size: 1.2em;
}

.noticias1 {
  margin-left: 18vw;
  margin-top: 1vw;
  width: 70vw;
}

.date {
  background-color: white;
  margin-left: -380px;
  border: #e87867 solid 3px;
  border-radius: 5px;
  width: 150px;
}

#area {
  margin-left: 2vw;
  margin-top: 8px;
  width: 90vh;
  background-color: transparent;
  border: #e87867 solid 3px;
  border-radius: 8px;
  color: white
}
.alta:hover{
  color: white;
  background-color: #9C4335;
  border-color: #E87867;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 1.1em;
}

.alta{
  color: #fff;
  background-color: #E87867;
  border-color: #E87867;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 1.1em;
  cursor: pointer;
}
.modif, .delete{
  float:right;
  color: #fff;
  background-color: gray;
  border: solid 3px #E87867;
  padding: 0px 8px;
  margin: 0 0.3em;
  cursor: pointer;
}

.fecha {
  border: solid #E87867 1px;
  text-align: left;
  padding: 0 6px;
  width: 50px;
}

.cuerpoNoticia {
  border: solid #E87867 1px;
  text-align: left;
  padding: 0 6px;
  width: 650px;
}

.div10 {
  text-align: center;
  margin-top: 4vh;
}
