<div class="div1">
    <div class="div2">
      <app-menu></app-menu>

      <h2>Ranking Nacional de Pilotos / ABM Noticias</h2>

      <div>
        <h5>
          <strong>
            Complete datos para alta
          </strong>
        </h5>
      </div>

      <div class="carga_datos">
        <table class="noticias">
          <tr>
            <td>
              <label>
                Fecha:
              </label>
            </td>
            <td>
              <input class="date" type="date" [(ngModel)] ="not.fechaNoticia">
            </td>
          </tr>
          <tr>
            <td>
              <label>
                Noticia:
              </label>
            </td>
            <td>
              <textarea id="area" class="form-control"
                name="message"
                rows="4"
                [(ngModel)]="not.cuerpoNoticia"
                #message='ngModel'>
            </textarea>
            </td>
          </tr>
        </table>
      </div>

      <div class="div3">
        <button (click)="altaNoticias(not)" class="alta">
          Confirmar alta
        </button>
      </div>
    </div>

    <div class="listado">
      <legend>Noticias</legend>

      <table class="noticias1">
        <tr *ngFor="let not of notic | paginate: { itemsPerPage: 3, currentPage: pages }">
          <td class="fecha">
            {{not.fechaNoticia}}
          </td>
          <td class="cuerpoNoticia">
            {{not.cuerpoNoticia}}
          </td>
          <td>
            <button (click)="modifNoticias(not)" class="modif">
              Modificar
            </button>
          </td>
          <td>
            <button (click)="delNoticias(not)" class="delete">
              Borrar
            </button>
          </td>
        </tr>
      </table>











  </div>
  <pagination-controls (pageChange)="pages = $event"></pagination-controls>

</div>
