body{
  background-color:#E87867;
}

h1{
  color: black;
  font-size: 50px;
  font-weight: 700;
}

.div1{
  height: 10VH;
  width: 100vw;
  background-color: #E87867;
  color:white;

}

.div2{
  button{
    text-align: center;
    background-color: #E87867;
  }

}

