
.modif, .delete{
  float:right;
  color: #fff;
  background-color: gray;
  border: solid 3px #E87867;
  // border-radius: 10px;
  padding: 0px 8px;
  // font-size: 15px;
  margin: 0 1em;
  cursor:pointer;
}

