<div class="div1">
  <div class="div2">
    <app-menu></app-menu>
    <h1></h1>
    <h1></h1>
    <h1>Este proceso hace el cálculo de la tabla de Posiciones </h1>
    <h1></h1>
    <div *ngIf="ver == false">
    <h3>Continúa?</h3>
    <button (click)="calcula()"> SI</button> &nbsp; &nbsp; &nbsp;
    <button (click)="vaAHome()"> NO</button>
    </div>
    <br><br><br>
    <div *ngIf="ver==true">
      <p>Calculando ...</p>
      <p>{{numero}}</p>
    </div>
   <div *ngIf="numero==99999999999">
    <button (click)="vaAHome()"> Vuelve a Home</button>
   </div>
    </div>
    </div>
