
<div>
<!-- Upload  -->
<form id="file-upload-form" class="uploader">
  <input id="file-upload" type="file" (change)="fileUpload($event); " name="fileUpload" accept=".xls,.xlsx" />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>

      <div id="notimage" class="hidden">Por favor elija el archivo excel a subir</div>
      <span id="file-upload-btn" class="btn btn-primary">Elija un archivo</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form>
</div>
<!-- <div class="container">
 <tr *ngFor=" let data of resultadosCarrera">

  <td>{{data.Piloto}}</td>
 </tr>
</div> -->
<!-- <div class="container">
  <tr *ngFor=" let pil of pilot">
    <td>{{pil.nombrePiloto}}</td>
  </tr>
</div> -->
