<div class="div1">
    <div class="div2">
      <app-menu></app-menu>

      <h2>Ranking Nacional de Pilotos / ABM Autódromos</h2>

      <div>
        <h5>
          <strong>
            Información para el Alta de Autódromos
          </strong>
        </h5>
      </div>

      <div class="carga_datos">
          <label for="nombre_aut">Nombre:</label>
          <input id="nombre_aut" type="string" [(ngModel)]="aut.nombreAutodromo">
          <button (click)="altaAutodromos(aut)" class="alta">
            Confirmar alta
          </button>
        </div>


      <div class="listado">
        <legend>Autódromo</legend>

        <table class="autodromos">
          <tr *ngFor="let aut of auto | paginate: { itemsPerPage: 6, currentPage: pages }">
            <td class="nomAut">
                {{aut.nombreAutodromo}}
            </td>
            <td>
                <button (click)="modifAutodromo(aut)" class="modif">
                  Modificar
                </button>
            </td>
            <td>
                <button (click)="delAutodromo(aut)" class="delete">
                  Borrar
                </button>
            </td>
          </tr>

        </table>

      </div>


        <!-- <input type="string" [(ngModel)]="aut.nombreAutodromo"> -->

      <pagination-controls (pageChange)="pages = $event"></pagination-controls>

  </div>


