<div class="div1">
    <div class="div2">
      <app-menu></app-menu>

      <h2>Ranking Nacional de Pilotos / ABM Pilotos</h2>

      <div>
        <h5>
          <strong>
            Complete datos para alta
          </strong>
        </h5>
      </div>

      <div class="carga_datos">
        <table class="piloto">
          <tr>
            <td>
              <label class="nombrePiloto">
                Nombre y Apellido (separado por coma):
              </label>
            </td>
          <td>
              <input id="nombrePiloto" type="string" [(ngModel)]="pil.nombrePiloto">
            </td>

            <tr>
              <td id="img">
                <label>
                  URL Imagen:
                </label>
              </td>
            <td>
              <input id="url" type="string" [(ngModel)]="pil.urlImgPiloto">
            </td>
          </tr>
        </table>
      </div>

      <div class="div3">
        <button (click)="altaPilotos(pil)" class="alta">
          Confirmar Alta
        </button>
      </div>
    </div>

    <div class="listado">
      <legend>Pilotos</legend>

      <table class="pilotos1">
        <tr *ngFor="let pil of pilot  | paginate: { itemsPerPage: 6, currentPage: pages }">
          <td class="nombre">
            {{pil.nombrePiloto}}
          </td>
        <!--   <td class="apellido">
            {{pil.apellidoPiloto}}
          </td> -->
          <td class="img1">
            {{pil.urlImgPiloto}}
          </td>
          <td>
            <button (click)="modifPilotos(pil)" class="modif">
              Modificar
            </button>
          </td>
          <td>
            <button (click)="delPilotos(pil)"  class="delete">
              Borrar
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div class="div10">
      <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>

</div>


