body{
  background-color: black;
}

div{
  text-align: center;
  padding: 10px;
  color: white;
}

.div1 {
  overflow: hidden;
  height: 98vh;
  width: 95vw;
  margin: 1vh 2.5vw;
  border: 2px solid #e87867;
  border-radius: 10px;
  background-color: #3e3d3d;

  background-image: url("/assets/imagenes/Pilotos_Carreras.jpg");
  background-repeat: no-repeat;
  background-attachment:inherit;

  position: relative;
  z-index: 0;
}

.div2 {
  color: white;
  text-align: center;
}

.my-pagination ::ng-deep .ngx-pagination .current{
    background: red;
    color: white;
  }

  h2{
    padding: 10px;
  }

.piloto{
  margin-left: 20vw;
  margin-top: 2vw;
  font-size: 1.2em;
}

.pilotos1 {
  margin-left: 20vw;
  margin-top: 2vw;
  font-size: 1.2em;
}

#nombrePiloto {
  margin-left: 1em;
  width: 25em;
  background-color: transparent;
  border: #e87867 solid 3px;
  border-radius: 5px;
  color: white
}

#url {
  margin-left: 1em;
  width: 25em;
  background-color: transparent;
  border: #e87867 solid 3px;
  border-radius: 5px;
  color: white;
}

#img {
  text-align: right;
  margin-bottom: 0;
}

input{
  padding: 0 6px;
}

.alta:hover{
  color: #E87867;
  background-color: transparent;
  border-color: #E87867;
  border-radius: 10px;
  padding: 0 8px;
  font-size: 25px;
}

.alta{
  color: #fff;
  background-color: #E87867;
  border-color: #E87867;
  border-radius: 10px;
  padding: 0 8px;
  font-size: 25px;
}

.nombreApellido {
  border: solid #E87867 1px;
  text-align: left;
  padding: 0 6px;
  width: 15em;
}

.img1 {
  border: solid #E87867 1px;
  text-align: left;
  padding: 0 6px;
  width: 40%;
}

.modif, .delete{
  float:right;
  color: #fff;
  background-color: gray;
  border: solid 3px #E87867;
  padding: 0px 8px;
  margin: 0 1em;
}
