
.my-pagination ::ng-deep .ngx-pagination .current {
  background: red;
  color: white;
}

h2{
  border: 1px solid black;
  padding: 10px;
}

div{
  text-align: center;
  padding: 10px;
  color: white;
}

.div1 {
  overflow: hidden;
  height: 98vh;
  width: 95vw;
  margin: 1vh 2.5vw;
  border: 2px solid #e87867;
  border-radius: 10px;
  background-color: #3e3d3d;
  position: relative;
  background-image: url("/assets/imagenes/Pilotos_Carreras.jpg");
  background-repeat: no-repeat;
  background-attachment:inherit;
  z-index: 0;
}

.div2 {
  color: white;
  text-align: center;
}

