<!-- <div class="div1">
    <div class="div2">
      <hr>
      <h3>Rankig Nacional de Pilotos / ABM Sponsors</h3>
      <hr>
      <p  ><mark class="col text-danger"><strong>Complete datos para alta</strong></mark></p>
      <br>
      <p> Logo  * : <input type="file" accept=".jpg,.png,.jpeg" [(ngModel)]="spon.logoSponsor">

       Link : <input type ="string" [(ngModel)] = "spon.linkSponsor">

       Espacio : <input type="string" [(ngModel)]="spon.espacioSponsor"></p>

      <p><button (click)="altaSponsor(spon); recargar()" class="btn btn-outline-success">Confirmar alta</button>

      </p>
       <br>



      <p  ><mark class="col text-danger"><strong>Complete datos a modificar o presione borrar para quitar dato </strong></mark></p>
      <br>
      </div>

      <div class="div2"
      ><tr *ngFor="let spon of spo  | paginate: { itemsPerPage: 3, currentPage: pages }">




       <p>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Logo  *: <input type="string" [(ngModel)]="spon.logoSponsor">
          Link         : <input type ="string" [(ngModel)] = "spon.linkSponsor">
           Espacio : <input type="string" [(ngModel)]="spon.espacioSponsor">&nbsp;

          <button (click)="modifSponsors(spon); recargar()" class="btn btn-outline-primary">Confirmar modificación</button> &nbsp;
            <button (click)="delSponsors(spon); recargar()"  class="btn btn-outline-danger">Borrar dato </button></p>

            <br>


      </tr>



  </div>
  <pagination-controls (pageChange)="pages = $event"></pagination-controls>
 -->


 <div class="container row">
  <app-menu></app-menu>
  <div class="col-md-12">
      <h1>Upload Image</h1>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">

  </div>
  <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">

  </div>
</div>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div>
