<div class="div1">
  <div class="div2">
    <app-menu></app-menu>

    <h2>Ranking Nacional de Pilotos / ABM Sponsors</h2>

    <div>
      <h5>
        <strong>
          Complete datos para alta
        </strong>
      </h5>
    </div>


    <!--   <input type="file" (change)="uploadImage($event)">
    <div class="images">
      <img [src]="image" *ngFor="let image of images" width="200">
    </div> -->

    <div class="carga_datos">
      <table class="sponsors">
        <tr>
          <td>
            <label>
              Nombre:
            </label>
          </td>
          <td>
            <input id="nombre" type="string" [(ngModel)]="spon.nombreSponsor">
          </td>
          <td>
            <label>
              URL:
            </label>
          </td>
          <td>
            <input id="url" type ="string" [(ngModel)] = "spon.linkSponsor">
          </td>
          <tr>
            <td>
              <label>
                Espacio:
              </label>
            </td>
            <td>
              <input id="espacio" type="string" [(ngModel)]="spon.espacioSponsor">
            </td>
            <td>
              <label>
                URL Imagen:
              </label>
            </td>
            <td>
              <input id="urlImg" type ="string" [(ngModel)] = "spon.logoSponsor">
            </td>
          <tr>

          </table>

        <div class="div3">
          <button (click)="altaSponsors(spon)" class="alta">
            Confirmar Alta
          </button>
        </div>

    </div>

    <div class="listado">
      <legend>Sponsors</legend>

      <table class="sponsors1">
        <tr *ngFor="let spon of spo  | paginate: { itemsPerPage: 3, currentPage: pages }">
        <td class="nombreSponsor">
          {{spon.nombreSponsor}}
        </td>
        <td class="link">
          {{spon.linkSponsor}}
        </td>
        <td class="espacio">
          {{spon.espacioSponsor}}
        </td>
        <td class="url1">
          {{spon.logoSponsor}}
        </td>
        <td>
          <button (click)="modifSponsors(spon)" class="modif">
            Modificar
          </button>
        </td>
        <td>
          <button (click)="delSponsors(spon)"  class="delete">
            Borrar
          </button>
        </td>
      </table>
    </div>
  </div>

  <div class="div10">
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
  </div>

</div>



<!-- <footer>
  <h4>
    Footer aquí
  </h4>
</footer> -->
