.my-pagination ::ng-deep .ngx-pagination .current {
    background: red;
    color: white;
  }
  .div2 {
      color: white;
      
        text-align: center;}
      
    
   
     
     .div1 {
      border: 2px solid #e87867;
      border-radius: 10px;
      background-color: #3e3d3d;
    
      
      background-image: url("/assets/imagenes/Pilotos_Carreras.jpg");
      background-repeat: no-repeat;
    
      background-attachment:inherit;
    
      margin-left: 20px;
    
      width: 1440px;
      height: 688px;   
    
      margin: 50px auto;
      position: relative;
      z-index: 0;}
  
   
  div{
    text-align: center;
    padding: 10px;
    color: white;
  }
  h2{
    
      
    border: 1px solid black;
    padding: 10px;
  }
  